<nav class="navbar navbar-expand review-nav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-element">
            <a class="my-nav-link reviews-link" href="{% url 'landing' %}">home</a>
        </li>
        <li class="nav-item nav-element">
            <a class="my-nav-link photos-link" href="{% url 'landing' %}#carousel-title">photos</a>
        </li>
        <li class="nav-item nav-element">
            <a class="my-nav-link contact-link" href="{% url 'landing' %}#contactSection">contact</a>
        </li>
    </ul>
    <label>|</label>
    <a href="#" class="book-button">book now</a>
</nav>