{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div id="review-form-page-container">
    <img src="{% static 'assets/ReviewFormBackground.svg' %}" alt="How was your stay?" style="width: 100%; height: auto;">
    
    <div id="review-form-page-content" class="d-flex flex-column justify-content-between align-items-center">
        <div id="review-form">
            <div id="star-section" class="d-flex flex-column align-items-center">
                <div id="star-section-text">Rate your stay!</div>
                <div id="star-section-stars">
                    {% with ''|center:5 as range %}
                    {% for _ in range %}
                    {% include 'reviews/review_star.html' with counter=forloop.counter %}
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
            {% crispy form helper %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'reviews/review-form-star.js' %}"></script>
{% endblock %}