<nav class="navbar review-nav">
    <a href="{% url 'register' %}" class="book-button">check dates</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-element">
            <a class="my-nav-link reviews-link" href="{% url 'landing' %}">home</a>
        </li>
        <li class="nav-item nav-element">
            <a class="my-nav-link photos-link" href="{% url 'landing' %}#carousel-title">photos</a>
        </li>
        <li class="nav-item nav-element">
            <a class="my-nav-link contact-link" href="{% url 'landing' %}#contactSection">contact</a>
        </li>
    </ul>
</nav>