{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="review-page">
    {% if latest_review_list %}
        <div class="review-container">
            {% include 'reviews/review_navbar.html' %}
            <ul>
                {% for review in latest_review_list %}
                    <div class="review">

                    <div class="review-header">
                        <div class="row">
                            <div class="col-md">
                                {% with ''|center:review.rating as range %}
                                {% for _ in range %}
                                    <img src="{% static 'assets/ReviewStarNavy.svg' %}" alt="Star" style="width: 50px; height: 44px;">
                                {% endfor %}
                                {% endwith %}
                            </div>
                            <div class="col-md">
                                <h2>{{review.corresponding_stay.in_date}}</h2>
                            </div>
                        </div>
                    </div>
                    <h1>{{review.corresponding_stay.name}}</h1>
                    <p>{{review.review_text}}</p>
                    <h2>{{review.publish_date}}</h2>

                    </div>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No reviews</p>
    {% endif %}

    </div>
{% endblock%}