{% extends 'base.html' %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/styles/review-styles.css' %}">
{% endblock %}

{% block content %}
<div id="review-box-shadow">
    {% include 'reviews/review_navbar.html' %}
</div>
<div id="review-page">
    <div id="review-container" class="parallax-background">
        <div id="review-content" class="d-flex flex-column justify-content-between">
            {% for review in review_list %}
                <div class="review-item">
                    <span class="review-item-header-name">{{ review.corresponding_stay.name }}</span>
                    <div class="review-item-stars">
                        {% with ''|center:review.rating as range %}
                        {% for _ in range %}
                        {% include 'reviews/review_star.html' %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <span class="review-item-header-stay-indate review-date">Checked in on {{ review.corresponding_stay.in_date }}</span>
                    <div class="review-item-content">
                        <p class="review-item-content-text">{{ review.review_text }}</p>
                        <span class="review-item-content-publishdate review-date">Published on {{ review.publish_date }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="review-navigator">
            {% if is_first_page is False %}
            <a href="{% url 'all_reviews' previous_page %}">&#60;</a> 
            {% endif %}

            <span id="pageNumber">{{ current_page }}</span> 

            {% if is_last_page is False %}
            <a href="{% url 'all_reviews' next_page %}">&#62;</a> 
            {% endif %}
        </div>
    </div>
</div>
{% endblock%} 

{% block scripts %}
<script src="{% static 'scripts/parallax.js' %}"></script>
{% endblock %}