{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/styles/review-styles.css' %}">
{% endblock %}

{% block content %}
<div id="review-form-page-container">
    <img src="{% static 'assets/review_page/ReviewFormBackground.svg' %}" alt="Thank you!" style="width: 100%; height: auto;">
    
    <div id="review-form-greeting">
        <p>
            Tell us about your stay, {{ data.corresponding_stay.name }}
        </p>
    </div>
    <div id="review-form-page-content" class="d-flex flex-column justify-content-between align-items-start">
        <div id="review-form">
            <div id="star-section" class="d-flex flex-column">
                <div id="star-section-text">Overall Experience:</div>
                <div id="star-section-stars" class="d-flex align-items-start">
                    {% with ''|center:5 as range %}
                    {% for _ in range %}
                    {% include 'reviews/review_star.html' with counter=forloop.counter %}
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
            {% crispy form helper %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'reviews/scripts/review-form-star.js' %}"></script>
{% endblock %}