{% extends 'base.html'%}
{% load static %}
{% block content %}
    {% include 'registration/calendar.html' %}
    <div class="landing-page">
        {% include 'home/navbar.html' %}

         <div class="landing-title">
            <div class="cape-san-blas-caption">CAPESANBLAS<br>FLORIDA</div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-10 my-auto">
                    <div class="sea-prints-title">Sea Prints</div>
                    <div class="sea-prints-caption">the condo formerly known as aquablast</div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="review-section">
        <div class="d-flex flex-row justify-content-around review-content">
            {% for review in reviews %}
                <div class="review-element">
                    <div class="rating-stars d-flex flex-row justify-content-center">
                        {% with ''|center:review.rating as range %}
                        {% for _ in range %}
                        <img src="{% static 'assets/ReviewStar.svg' %}" alt="Star" style="width: 41px; height: 36px;">
                        {% endfor %}
                        {% endwith %}
                    </div>
                    <div class="rating-text">
                        <p>{{ review.review_text|truncatechars:125 }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="all-reviews-link-div d-flex flex-row justify-content-end">
            <a class="all-reviews-link" href="#">all reviews ></a>
        </div>
    </div>

    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col left-column">
                <img src="{% static 'assets/OrangeImage.png' %}" alt="Chairs on the beach" style="height: 1065px;">
                <div id="room-for-everyone">
                    <strong id="room-title">Room for Everyone</strong>
                    <p>
                        With 3 bedrooms and 2 full bathrooms, there is plenty of space for you, your
                        family, and even a couple of friends, too.
                    </p>
                </div>
                <img src="{% static 'assets/NavyImage.png' %}" alt="Kitchen" style="height: 1425px;">
            </div>
            <div class="col right-column">
                <div id="steps-from-the-beach">
                    <strong id="steps-title">Steps From the Beach</strong>
                    <p>
                        We have the privilege of being one of the only condos located among the dunes.
                        Heading out for a day on the beach is only a few steps from your back door.
                    </p>
                </div>
                <img src="{% static 'assets/BlueImage.png' %}" alt="Living Room" style="height: 1383px;">
                <div id="fully-equipped-kitchen">
                    <strong id="fully-title">Fully Equipped Kitchen</strong>
                    <p>
                        In addition to the great restaurants around the cape, Sea Prints has a full kitchen
                        including an electric stove, oven, dishwasher, microwave, and full-size refrigerator
                        with a freezer drawer.
                    </p>
                </div>
            </div>
        </div>
    </div>
<div id="carousel-title">CHECK OUT SOME PHOTOS</div>
    <div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'home/assets/QueenRoom.JPG'%}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'home/assets/Kitchen.JPG' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'home/assets/TwinRoom.JPG' %}" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'home/assets/CloudSunset.jpg' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    <div id="amenities">
        <h1>AMENITIES</h1>

                <div id="amenities-list">
                    <div class="row">
                        <div class="col general-column">
                            <strong>General:</strong>
                            <ul>
                                <li>Air Conditioning</li>
                                <li>No Smoking</li>
                                <li>Washer &amp; Dryer</li>
                                <li>Cable</li>
                                <li>TV</li>
                                <li>Board Games</li>
                                <li>Novels</li>
                                <li>Children Welcome</li>
                                <li>Internet</li>
                                <li>Heater</li>
                                <li>Parking</li>
                                <li>Deadbolt Lock</li>
                            </ul>
                        </div>
                        <div class="col general-column">
                            <ul>
                                <li>Smoke Detector</li>
                                <li>Fire Extinguisher</li>
                                <li>Carbon-monoxide Detector</li>
                                <li>Exterior Lighting</li>
                                <li>Telephone</li>
                                <li>Luxury linens</li>
                                <li>Iron &amp; Board</li>
                                <li>Hair Dryer</li>
                                <li>Paper Towels</li>
                                <li>Living Room</li>
                                <li>Dining Room</li>
                                <li>Deck/Patio</li>
                            </ul>
                        </div>
                        <div class="col bathroom-kitchen-column">
                            <strong>Bathrooms:</strong>

                            Bathroom 1:
                            <ul>
                                <li>Toilet</li>
                                <li>Shower</li>
                            </ul>

                        <div class="col bathroom-kitchen-column">
                            Bathroom 2:
                            <ul>
                                <li>Toilet</li>
                                <li>Combination Tub/Shower</li>
                            </ul>
                        </div>

                            <strong>Kitchen:</strong>
                            <ul>
                                <li>Dishwasher</li>
                                <li>Refrigerator</li>
                                <li>Glass Top Stove</li>
                                <li>Oven</li>
                                <li>Microwave</li>
                                <li>Coffee Maker</li>
                                <li>Toaster</li>
                                <li>Blender</li>
                                <li>Ice Maker</li>
                                <li>Lobster pot</li>
                                <li>Pantry Items</li>
                                <li>Dishes &amp; Utensils</li>
                                <li>Stainless Steel Pots/Pans</li>
                                <li>Kettle</li>
                            </ul>
                        </div>
                    </div>
                </div>
    </div>

<footer id="contactSection">
    <div class="footer-content">website designed by luke whaley and michael jiles | <a id="contact-designers">contact designers</a></div>
</footer>
{% endblock %}

{% block scripts %}
<script>
    $("#photosLink").click(function() {
        $('html, body').animate({
            scrollTop: $("#carousel-title").offset().top
        }, 2000);
    });
    $("#contactLink").click(function() {
        $('html, body').animate({
            scrollTop: $("#contactSection").offset().top
        }, 2000);
    });
</script>
{% endblock %}