<nav class="navbar navbar-expand landing-nav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-element">
            <a class="my-nav-link reviews-link" href="{% url 'all_reviews' 1 %}">reviews</a>
        </li>
        <li class="nav-item nav-element">
            <a id="photosLink" class="my-nav-link photos-link">photos</a>
        </li>
        <li class="nav-item nav-element">
            <a id="contactLink" class="my-nav-link contact-link">contact</a>
        </li>
    </ul>
    <label>|</label>
    <a href="#" class="book-button">book now</a>
</nav>