#calendarContainer {
    text-align: center;
    width: 15%;
    margin: auto;
    #monthAndYear {
        font-family: futura-pt-bold, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16pt;
    }

    #calendar {
        text-align: center;
        margin: auto;

        th {
            font-family: futura-pt, sans-serif;
        }

        #calendar-body {
            tr {
                font-family:  sofia-pro, sans-serif;
                text-align: center;
            }
            .cell {
                background-color: transparent;
            }
            .cell-selected {
                background-color: lightseagreen;
            }
            .cell-selected:hover {
                cursor: pointer;
                background-color: lightseagreen;
                color: white;
            }
            .cell:hover {
                cursor: pointer;
                background-color: lightseagreen;
            }
            .cell-disabled {
                color: gray;
                cursor: not-allowed;
            }
        }
    }


}