body {
  overflow-x: hidden;
}

.landing-page {
  background: url("/static/assets/LandingPicture.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.landing-page .custom-nav {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.landing-page .custom-nav li {
  font-size: 18pt;
  margin-left: 66px;
  color: white;
}

.landing-page .custom-nav li .my-nav-link {
  text-decoration: none;
  color: white;
}

.landing-page .custom-nav label {
  font-size: 18pt;
  margin-left: 30px;
  margin-right: 135px;
  margin-top: 3px;
  color: white;
}

.landing-page .custom-nav .book-button {
  background-color: #00031C;
  border-radius: 7px;
  max-height: 28px;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
  position: fixed;
  right: 23px;
  top: 18px;
}

.landing-page .landing-title {
  background-image: url("/static/assets/LandingPageLines.svg");
  background-repeat: no-repeat;
  width: 1505px;
  height: 618px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing-page .landing-title .sea-prints-title {
  text-align: center;
  font-family: sirenne-text-mvb, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 180pt;
  color: white;
  border-bottom: 7px white solid;
  padding-bottom: 0px;
  height: 285px;
  margin-bottom: 0px;
}

.landing-page .landing-title .sea-prints-caption {
  font-family: skolar-sans-latin-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.landing-page .landing-title .cape-san-blas-caption {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  color: white;
  font-size: 30px;
  top: 12px;
  left: 15px;
  letter-spacing: 5px;
  line-height: 35px;
}

#review-section {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  background-color: black;
  height: 265px;
}

#review-section .review-content {
  width: 80%;
  margin: auto;
}

#review-section .review-content .review-element {
  width: 25%;
}

#review-section .review-content .review-element .rating-text {
  text-align: center;
  font-size: 20px;
}

#review-section .review-content .review-element .rating-stars {
  border-bottom: 5px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#review-section .review-content .review-element .rating-stars img {
  margin-right: 5px;
}

#review-section .all-reviews-link-div .all-reviews-link {
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.carousel-inner > .item {
  height: 939px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #00031C;
  margin-top: 177px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100px;
  letter-spacing: 5px;
}
/*# sourceMappingURL=global.css.map */