$site-colors: ("navy": #00031C, "cyan": #5ECBD8, "orange": #F5AB43, "gray": #444444);
$font-weights: ("regular": 400, "medium": 500, "demi": 600, "heavy": 700, "bold": 800, "extra-bold": 900);
body {
    overflow-x: hidden;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*   --------    LANDING PAGE   --------    */

.landing-nav {
    font-family: futura-pt, sans-serif;
    font-weight: map-get($font-weights, "heavy");
    font-style: normal;
    li {
        font-size: 18pt;
        margin-left: 66px;
        color: white;
        .my-nav-link {
            text-decoration: none;
            color: white;
        }
        .reviews-link:hover {
            border-bottom: 3px map-get($site-colors, "orange") solid;
        }
        .photos-link:hover {
            border-bottom: 3px map-get($site-colors, "cyan") solid;
        }
        .contact-link:hover {
            border-bottom: 3px map-get($site-colors, "navy") solid;
        }
    }
}

.landing-page {
    background: url(assets/landing_page/LandingPicture.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    a {
        cursor: pointer;
    }
    label {
        font-size: 18pt;
        margin-left: 30px;
        margin-right: 135px;
        margin-top: 3px;
        color: white;
    }
    .landing-nav {
        font-family: futura-pt, sans-serif;
        font-weight: map-get($font-weights, "heavy");
        font-style: normal;
        li {
            font-size: 18pt;
            margin-left: 66px;
            color: white;
            .my-nav-link {
                text-decoration: none;
                color: white;
            }
            .reviews-link:hover {
                border-bottom: 3px map-get($site-colors, "orange") solid;
            }
            .photos-link:hover {
                border-bottom: 3px map-get($site-colors, "cyan") solid;
            }
            .contact-link:hover {
                border-bottom: 3px map-get($site-colors, "navy") solid;
            }
        }
    }
    .book-button {
        background-color: map-get($site-colors, "navy");
        border-radius: 7px;
        max-height: 28px;
        text-align: center;
        text-decoration: none;
        line-height: 28px;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 30px;
        position: fixed;
        right: 23px;
        top: 18px;
        z-index: 1;
    }
    .book-button:hover {
        background-color: #48a0aa;
    }
    .landing-title {
        background-image: url(assets/landing_page/LandingPageLines.svg);
        background-repeat: no-repeat;
        width: 1505px;
        height: 618px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .sea-prints-title {
            text-align: center;
            font-family: sirenne-text-mvb, serif;
            font-weight: map-get($font-weights, "heavy");
            font-style: normal;
            font-size: 180pt;
            color: white;
            border-bottom: 7px white solid;
            padding-bottom: 0px;
            height: 285px;
            margin-bottom: 0px;
        }
        .sea-prints-caption {
            font-family: skolar-sans-latin-extended, sans-serif;
            font-weight: map-get($font-weights, "regular");
            font-style: normal;
            font-size: 50px;
            text-align: center;
            color: white;
            letter-spacing: 3px;
        }
        .cape-san-blas-caption {
            font-family: futura-pt, sans-serif;
            font-weight: map-get($font-weights, "heavy");
            font-style: normal;
            position: relative;
            color: white;
            font-size: 30px;
            top: 12px;
            left: 15px;
            letter-spacing: 5px;
            line-height: 35px;
        }
    }
}

#review-section {
    font-family: futura-pt, sans-serif;
    font-weight: map-get($font-weights, "regular");
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: map-get($site-colors, "navy");
    height: 265px;
    .review-content {
        width: 80%;
        margin: auto;
        .review-element {
            width: 25%;
            .rating-text {
                text-align: center;
                font-size: 20px;
            }
            .rating-stars {
                border-bottom: 5px solid white;
                margin-bottom: 10px;
                padding-bottom: 10px;
                img {
                    margin-right: 5px;
                }
            }
        }
    }
    .all-reviews-link-div {
        .all-reviews-link {
            margin-right: 50px;
            text-decoration: none;
            color: white;
            font-size: 24px;
        }
    }
}

#carousel-title {
    font-family: futura-pt, sans-serif;
    font-weight: map-get($font-weights, "bold");
    font-style: normal;
    font-size: 80px;
    color: map-get($site-colors, "navy");
    width: 100%;
    text-align: right;
    padding-right: 1vw;
    padding-top: 4vw;
}

.carousel-inner>.item {
    height: 939px;
}

#steps-from-the-beach {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    width: 75%;
    margin-top: 325px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 5%;
    #steps-title {
        font-weight: map-get($font-weights, "heavy");
        color: map-get($site-colors, "navy");
        border-bottom: 7px solid map-get($site-colors, "orange");
        width: 100%;
        display: block;
        font-size: 60px;
        text-align: right;
        letter-spacing: 4px;
    }
    p {
        font-weight: map-get($font-weights, "medium");
        margin-top: 20px;
        text-align: right;
        font-size: 30px;
        width: 90%;
        margin-left: auto;
        color: map-get($site-colors, "gray");
    }
}

#room-for-everyone {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    width: 75%;
    margin-top: 325px;
    margin-bottom: 400px;
    margin-right: auto;
    margin-left: 5%;
    #room-title {
        font-weight: map-get($font-weights, "heavy");
        color: map-get($site-colors, "navy");
        border-bottom: 7px solid map-get($site-colors, "cyan");
        width: 100%;
        display: block;
        font-size: 60px;
        text-align: left;
        letter-spacing: 4px;
    }
    p {
        font-weight: map-get($font-weights, "medium");
        margin-top: 20px;
        text-align: left;
        font-size: 30px;
        width: 90%;
        margin-right: auto;
        color: map-get($site-colors, "gray");
    }
}

#fully-equipped-kitchen {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    width: 85%;
    margin-top: 550px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 5%;
    #fully-title {
        font-weight: map-get($font-weights, "heavy");
        color: map-get($site-colors, "navy");
        border-bottom: 7px solid map-get($site-colors, "navy");
        width: 100%;
        display: block;
        font-size: 60px;
        text-align: right;
        letter-spacing: 4px;
    }
    p {
        font-weight: map-get($font-weights, "medium");
        margin-top: 20px;
        text-align: right;
        font-size: 30px;
        width: 90%;
        margin-left: auto;
        color: map-get($site-colors, "gray");
    }
}

#amenities {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    width: 100%;
    h1 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: map-get($font-weights, "extra-bold");
        font-size: 14vw;
        color: map-get($site-colors, "orange");
        letter-spacing: 30px;
        text-align: center;
        padding-top: 0;
    }
    #amenities-list {
        background-color: map-get($site-colors, "navy");
        color: white;
        width: 100%;
        font-size: 28px;
        strong {
            display: block;
            margin-bottom: 10px;
            font-weight: map-get($font-weights, "heavy");
            font-size: 40px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            padding-left: 5px;
            font-weight: map-get($font-weights, "medium");
            line-height: 34px;
            font-size: 22px;
        }
    }
}

footer {
    height: 100px;
    width: 100%;
    background-color: map-get($site-colors, "navy");
    margin-top: 177px;
    align-items: center;
    .footer-content {
        align-items: center;
        width: 100%;
        text-align: center;
        color: map-get($site-colors, "orange");
        font-family: futura-pt, sans-serif;
        font-weight: map-get($font-weights, "medium");
        font-style: normal;
        font-size: 20px;
        line-height: 100px;
        letter-spacing: 5px;
        #contact-designers {
            cursor: pointer;
            color: white;
        }
        #contact-designers:hover {
            color: map-get($site-colors, "orange");
        }
    }
}


/*   --------    REVIEW PAGE   --------    */

#review-box-shadow {
    width: 25%;
    position: fixed;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
    height: 100%;
    margin-right: 0;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
}

#review-page {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(assets/review_page/ReviewOcean.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 25% auto;
    background-attachment: fixed;
    background-color: map-get($site-colors, "cyan");
    #review-navigator {
        width: 75%;
        text-align: center;
        font-size: 34px;
        padding-bottom: 40px;
        margin-left: 10%;
        margin-right: auto;
        #pageNumber {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    #review-container {
        background-image: url(assets/review_page/ReviewBackground.svg);
        background-position: 50% 0px;
        background-size: auto 2600px;
        background-color: white;
        width: 75%;
        padding-left: 5%;
        padding-right: auto;
        min-height: 100vh;
        padding-top: 5%;
        #review-content {
            width: 90%;
            .review-item {
                text-align: center;
                width: 85%;
                border-radius: 25px;
                box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
                margin-bottom: 75px;
                padding: 20px;
                background-color: white;
                .review-item-header-name {
                    font-weight: map-get($font-weights, "bold");
                    font-size: 34px;
                    letter-spacing: 2px;
                }
                .review-item-content {
                    font-weight: map-get($font-weights, "demi");
                    padding: 15px;
                    p {
                        text-align: justify;
                        font-size: 20px;
                    }
                }
                .review-date {
                    font-weight: map-get($font-weights, "medium");
                    color: map-get($site-colors, "gray");
                }
                .review-item-stars {
                    margin-bottom: 10px;
                }
            }
            .review-item:nth-child(even) {
                align-self: end;
            }
            .review-item:nth-child(3n-2) {
                svg path {
                    fill: map-get($site-colors, "cyan") !important;
                }
                .review-item-content {
                    border-top: 5px solid map-get($site-colors, "cyan");
                }
            }
            .review-item:nth-child(3n-1) {
                svg path {
                    fill: map-get($site-colors, "orange") !important;
                }
                .review-item-content {
                    border-top: 5px solid map-get($site-colors, "orange");
                }
            }
            .review-item:nth-child(3n) {
                svg path {
                    fill: map-get($site-colors, "navy") !important;
                }
                .review-item-content {
                    border-top: 5px solid map-get($site-colors, "navy");
                }
            }
        }
    }
}

.review-nav {
    font-family: futura-pt, sans-serif;
    font-weight: map-get($font-weights, "heavy");
    font-style: normal;
    position: fixed;
    top: 6%;
    right: 0;
    width: 25%;
    height: auto;
    padding: 2%;
    padding-top: 1%;
    text-align: right;
    li {
        font-size: 18pt;
        margin-left: 20%;
        margin-right: auto;
        .my-nav-link {
            text-decoration: none;
            color: white;
        }
        .reviews-link:hover {
            border-bottom: 3px map-get($site-colors, "orange") solid;
        }
        .photos-link:hover {
            border-bottom: 3px map-get($site-colors, "cyan") solid;
        }
        .contact-link:hover {
            border-bottom: 3px map-get($site-colors, "navy") solid;
        }
    }
    .book-button {
        background-color: map-get($site-colors, "navy");
        border-radius: 7px;
        max-height: 28px;
        text-align: center;
        text-decoration: none;
        line-height: 28px;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        top: 2%;
        right: 1%;
        position: fixed;
        z-index: 1;
    }
    .book-button:hover {
        background-color: #48a0aa;
    }
}


/*   --------    REGISTRATION PAGE   --------    */

#registration-box-shadow {
    width: 25%;
    position: fixed;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
    height: 100%;
    margin-left: 0;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
}

#registration-content {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    background: url(assets/registration_page/Sand.jpg);
    background-size: 25% auto;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    #registration-container {
        width: 75%;
        margin-right: 0;
        margin-left: auto;
        text-align: center;
        background: url(assets/registration_page/RegistrationBackground-01.svg);
        background-size: auto 6200px;
        background-position: center top;
        .info_section {
            background-size: auto 6200px;
            background-position: center top;
            margin: 0;
            padding: 0;
            border: 0;
            min-height: 100vh;
            #dateSection {
                font-family: futura-pt-bold, sans-serif;
                font-style: normal;
                width: 76%;
                margin: auto;
                margin-top: 190px;
                border-radius: 15px;
                padding: 25px;
                box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
                background: linear-gradient(-45deg, #eeeeee, #f7f7f7 40%, white 60%, white);
                #the-calendar {
                    width: 45%;
                }
                #the-info {
                    width: 45%;
                    #top {
                        padding-bottom: 10px;
                        border-bottom: 5px solid map-get($site-colors, "orange");
                        strong {
                            font-size: 30px;
                            font-weight: map-get($font-weights, "demi");
                        }
                        span {
                            font-weight: map-get($font-weights, "regular");
                            margin-bottom: 5px;
                            font-size: 22px;
                            color: map-get($site-colors, "gray");
                            font-weight: bold;
                        }
                    }
                    #middle {
                        border-bottom: 5px solid map-get($site-colors, "orange");
                        padding-left: 15px;
                        padding-right: 15px;
                        strong {
                            font-weight: map-get($font-weights, "regular");
                            font-size: 30px;
                            font-weight: normal;
                        }
                        span {
                            font-weight: 500;
                            margin-bottom: 5px;
                            font-size: 22px;
                            color: map-get($site-colors, "gray");
                            font-weight: bold;
                        }
                        div {
                            margin-top: 25px;
                            margin-bottom: 25px;
                        }
                        div:first-of-type {
                            margin-top: 45px;
                        }
                        div:last-of-type {
                            margin-bottom: 45px;
                        }
                    }
                    #bottom {
                        margin-top: 35px;
                        strong {
                            font-size: 30px;
                            font-weight: 600;
                        }
                        span {
                            font-weight: 600;
                            font-size: 40px;
                            color: map-get($site-colors, "orange");
                            font-weight: bold;
                        }
                    }
                }
            }
            #contract-section {
                margin-top: 550px;
                margin-bottom: 5%;
                #pdf-viewer {
                    width: 60%;
                    height: 800px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
                    margin-bottom: 2vh;
                    overflow: scroll;
                }
                p {
                    text-align: center;
                    font-family: futura-pt, sans-serif;
                    font-weight: map-get($font-weights, "regular");
                    font-style: none;
                    color: map-get($site-colors, "gray");
                    font-size: 20px;
                    width: 60%;
                    margin: 0 auto;
                }
                .form-check-label {
                    font-family: futura-pt, sans-serif;
                    font-weight: map-get($font-weights, "demi");
                    font-style: none;
                    font-size: 25px;
                }
            }
        }
        #form-section {
            font-family: futura-pt-bold, sans-serif;
            font-style: normal;
            font-weight: map-get($font-weights, "regular");
            border-radius: 15px;
            width: 76%;
            margin: auto;
            margin-top: 190px;
            margin-bottom: 50px;
            padding: 35px;
            box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
            background: linear-gradient(-45deg, #eeeeee, #f7f7f7 40%, white 60%, white);
            box-sizing: content-box;
            div {
                width: 100%;
            }
            #div_id_name {
                width: 50%;
            }
            #div_id_age {
                width: 20%;
            }
            #div_id_number_of_guests {
                width: 20%;
            }
            #div_id_phone_contact {
                width: 50%;
            }
            #id_phone_contact_0 {
                width: 100%;
            }
            #id_phone_contact_1 {
                margin-top: 10px;
                width: 100%;
            }
            #div_id_email_contact {
                width: 40%;
            }
            #div_id_street_number {
                width: 25%;
            }
            #div_id_route {
                width: 70%;
            }
            #div_id_city {
                width: 40%;
            }
            #div_id_state {
                width: 25%;
            }
            #div_id_zip_code {
                width: 25%;
            }
            #personal-info-div {
                margin-bottom: 5%;
            }
            #contact-info-div {
                margin-bottom: 5%;
            }
            #questions-div {
                margin-top: 5%;
            }
            #submit-id-submit {
                background-color: map-get($site-colors, "navy");
                color: white;
                border: none;
                margin: auto;
                width: 20%;
                margin-top: 10px;
            }
            #submit-id-submit:hover {
                background-color: map-get($site-colors, "cyan");
            }
        }
    }
}

.registration-nav {
    font-family: futura-pt, sans-serif;
    font-weight: map-get($font-weights, "heavy");
    font-style: normal;
    li {
        font-size: 18pt;
        margin-right: 1vw;
        .my-nav-link {
            text-decoration: none;
            color: white;
        }
        .my-nav-link:hover {
            border-bottom: 3px white solid;
        }
    }
}

.registration-link {
    color: white;
}

#review-form-page-container {
    font-family: futura-pt-bold, sans-serif;
    font-style: normal;
    font-weight: map-get($font-weights, "regular");
    margin: 0;
    padding: 0;
    min-height: 100vh;
    #review-form-greeting {
        width: 50%;
        margin-left: 5%;
        font-weight: map-get($font-weights, "bold");
        font-size: 36px;
    }
    #review-form-page-content {
        width: 50%;
        margin-left: 5%;
        padding: 1%;
        border-radius: 15px;
        box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
        #review-form {
            width: 100%;
            #star-section {
                margin-bottom: 25px;
                #star-section-text {
                    margin-bottom: 10px;
                    font-weight: map-get($font-weights, "demi");
                    font-size: 20px;
                }
            }
            #submit-id-submit {
                background-color: map-get($site-colors, "navy");
                border: none;
                width: 30%;
            }
            #submit-id-submit:hover {
                background-color: map-get($site-colors, "cyan");
            }
            #div_id_review_text {
                width: 100%;
                label {
                    width: 100%;
                    font-weight: map-get($font-weights, "demi");
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1137px) {
    #review-box-shadow {
        visibility: hidden;
    }

    #review-page {
        background: none;

        #review-container {
            width: 100%;
        }
    }
}