@charset "UTF-8";
body {
  overflow-x: hidden;
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*   --------    LANDING PAGE   --------    */
.landing-nav {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.landing-nav li {
  font-size: 18pt;
  margin-left: 66px;
  color: white;
}

.landing-nav li .my-nav-link {
  text-decoration: none;
  color: white;
}

.landing-nav li .reviews-link:hover {
  border-bottom: 3px #F5AB43 solid;
}

.landing-nav li .photos-link:hover {
  border-bottom: 3px #5ECBD8 solid;
}

.landing-nav li .contact-link:hover {
  border-bottom: 3px #00031C solid;
}

.landing-page {
  background: url(assets/landing_page/LandingPicture.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.landing-page a {
  cursor: pointer;
}

.landing-page label {
  font-size: 18pt;
  margin-left: 30px;
  margin-right: 135px;
  margin-top: 3px;
  color: white;
}

.landing-page .landing-nav {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.landing-page .landing-nav li {
  font-size: 18pt;
  margin-left: 66px;
  color: white;
}

.landing-page .landing-nav li .my-nav-link {
  text-decoration: none;
  color: white;
}

.landing-page .landing-nav li .reviews-link:hover {
  border-bottom: 3px #F5AB43 solid;
}

.landing-page .landing-nav li .photos-link:hover {
  border-bottom: 3px #5ECBD8 solid;
}

.landing-page .landing-nav li .contact-link:hover {
  border-bottom: 3px #00031C solid;
}

.landing-page .book-button {
  background-color: #00031C;
  border-radius: 7px;
  max-height: 28px;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
  position: fixed;
  right: 23px;
  top: 18px;
  z-index: 1;
}

.landing-page .book-button:hover {
  background-color: #48a0aa;
}

.landing-page .landing-title {
  background-image: url(assets/landing_page/LandingPageLines.svg);
  background-repeat: no-repeat;
  width: 1505px;
  height: 618px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing-page .landing-title .sea-prints-title {
  text-align: center;
  font-family: sirenne-text-mvb, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 180pt;
  color: white;
  border-bottom: 7px white solid;
  padding-bottom: 0px;
  height: 285px;
  margin-bottom: 0px;
}

.landing-page .landing-title .sea-prints-caption {
  font-family: skolar-sans-latin-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.landing-page .landing-title .cape-san-blas-caption {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  color: white;
  font-size: 30px;
  top: 12px;
  left: 15px;
  letter-spacing: 5px;
  line-height: 35px;
}

#review-section {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  background-color: #00031C;
  height: 265px;
}

#review-section .review-content {
  width: 80%;
  margin: auto;
}

#review-section .review-content .review-element {
  width: 25%;
}

#review-section .review-content .review-element .rating-text {
  text-align: center;
  font-size: 20px;
}

#review-section .review-content .review-element .rating-stars {
  border-bottom: 5px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#review-section .review-content .review-element .rating-stars img {
  margin-right: 5px;
}

#review-section .all-reviews-link-div .all-reviews-link {
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

#carousel-title {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
  color: #00031C;
  width: 100%;
  text-align: right;
  padding-right: 1vw;
  padding-top: 4vw;
}

.carousel-inner > .item {
  height: 939px;
}

#steps-from-the-beach {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  width: 75%;
  margin-top: 325px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 5%;
}

#steps-from-the-beach #steps-title {
  font-weight: 700;
  color: #00031C;
  border-bottom: 7px solid #F5AB43;
  width: 100%;
  display: block;
  font-size: 60px;
  text-align: right;
  letter-spacing: 4px;
}

#steps-from-the-beach p {
  font-weight: 500;
  margin-top: 20px;
  text-align: right;
  font-size: 30px;
  width: 90%;
  margin-left: auto;
  color: #444444;
}

#room-for-everyone {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  width: 75%;
  margin-top: 325px;
  margin-bottom: 400px;
  margin-right: auto;
  margin-left: 5%;
}

#room-for-everyone #room-title {
  font-weight: 700;
  color: #00031C;
  border-bottom: 7px solid #5ECBD8;
  width: 100%;
  display: block;
  font-size: 60px;
  text-align: left;
  letter-spacing: 4px;
}

#room-for-everyone p {
  font-weight: 500;
  margin-top: 20px;
  text-align: left;
  font-size: 30px;
  width: 90%;
  margin-right: auto;
  color: #444444;
}

#fully-equipped-kitchen {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  width: 85%;
  margin-top: 550px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 5%;
}

#fully-equipped-kitchen #fully-title {
  font-weight: 700;
  color: #00031C;
  border-bottom: 7px solid #00031C;
  width: 100%;
  display: block;
  font-size: 60px;
  text-align: right;
  letter-spacing: 4px;
}

#fully-equipped-kitchen p {
  font-weight: 500;
  margin-top: 20px;
  text-align: right;
  font-size: 30px;
  width: 90%;
  margin-left: auto;
  color: #444444;
}

#amenities {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  width: 100%;
}

#amenities h1 {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14vw;
  color: #F5AB43;
  letter-spacing: 30px;
  text-align: center;
  padding-top: 0;
}

#amenities #amenities-list {
  background-color: #00031C;
  color: white;
  width: 100%;
  font-size: 28px;
}

#amenities #amenities-list strong {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
}

#amenities #amenities-list ul {
  list-style-type: none;
  padding: 0;
}

#amenities #amenities-list li {
  padding-left: 5px;
  font-weight: 500;
  line-height: 34px;
  font-size: 22px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #00031C;
  margin-top: 177px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  color: #F5AB43;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100px;
  letter-spacing: 5px;
}

footer .footer-content #contact-designers {
  cursor: pointer;
  color: white;
}

footer .footer-content #contact-designers:hover {
  color: #F5AB43;
}

/*   --------    REVIEW PAGE   --------    */
#review-box-shadow {
  width: 25%;
  position: fixed;
  -webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin-right: 0;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
}

#review-page {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url(assets/review_page/ReviewOcean.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 25% auto;
  background-attachment: fixed;
  background-color: #5ECBD8;
}

#review-page #review-navigator {
  width: 75%;
  text-align: center;
  font-size: 34px;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: auto;
}

#review-page #review-navigator #pageNumber {
  margin-left: 50px;
  margin-right: 50px;
}

#review-page #review-container {
  background-image: url(assets/review_page/ReviewBackground.svg);
  background-position: 50% 0px;
  background-size: auto 2600px;
  background-color: white;
  width: 75%;
  padding-left: 5%;
  padding-right: auto;
  min-height: 100vh;
  padding-top: 5%;
}

#review-page #review-container #review-content {
  width: 90%;
}

#review-page #review-container #review-content .review-item {
  text-align: center;
  width: 85%;
  border-radius: 25px;
  -webkit-box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 75px;
  padding: 20px;
  background-color: white;
}

#review-page #review-container #review-content .review-item .review-item-header-name {
  font-weight: 800;
  font-size: 34px;
  letter-spacing: 2px;
}

#review-page #review-container #review-content .review-item .review-item-content {
  font-weight: 600;
  padding: 15px;
}

#review-page #review-container #review-content .review-item .review-item-content p {
  text-align: justify;
  font-size: 20px;
}

#review-page #review-container #review-content .review-item .review-date {
  font-weight: 500;
  color: #444444;
}

#review-page #review-container #review-content .review-item .review-item-stars {
  margin-bottom: 10px;
}

#review-page #review-container #review-content .review-item:nth-child(even) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#review-page #review-container #review-content .review-item:nth-child(3n-2) svg path {
  fill: #5ECBD8 !important;
}

#review-page #review-container #review-content .review-item:nth-child(3n-2) .review-item-content {
  border-top: 5px solid #5ECBD8;
}

#review-page #review-container #review-content .review-item:nth-child(3n-1) svg path {
  fill: #F5AB43 !important;
}

#review-page #review-container #review-content .review-item:nth-child(3n-1) .review-item-content {
  border-top: 5px solid #F5AB43;
}

#review-page #review-container #review-content .review-item:nth-child(3n) svg path {
  fill: #00031C !important;
}

#review-page #review-container #review-content .review-item:nth-child(3n) .review-item-content {
  border-top: 5px solid #00031C;
}

.review-nav {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  position: fixed;
  top: 6%;
  right: 0;
  width: 25%;
  height: auto;
  padding: 2%;
  padding-top: 1%;
  text-align: right;
}

.review-nav li {
  font-size: 18pt;
  margin-left: 20%;
  margin-right: auto;
}

.review-nav li .my-nav-link {
  text-decoration: none;
  color: white;
}

.review-nav li .reviews-link:hover {
  border-bottom: 3px #F5AB43 solid;
}

.review-nav li .photos-link:hover {
  border-bottom: 3px #5ECBD8 solid;
}

.review-nav li .contact-link:hover {
  border-bottom: 3px #00031C solid;
}

.review-nav .book-button {
  background-color: #00031C;
  border-radius: 7px;
  max-height: 28px;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  top: 2%;
  right: 1%;
  position: fixed;
  z-index: 1;
}

.review-nav .book-button:hover {
  background-color: #48a0aa;
}

/*   --------    REGISTRATION PAGE   --------    */
#registration-box-shadow {
  width: 25%;
  position: fixed;
  -webkit-box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin-left: 0;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
}

#registration-content {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  background: url(assets/registration_page/Sand.jpg);
  background-size: 25% auto;
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#registration-content #registration-container {
  width: 75%;
  margin-right: 0;
  margin-left: auto;
  text-align: center;
  background: url(assets/registration_page/RegistrationBackground-01.svg);
  background-size: auto 6200px;
  background-position: center top;
}

#registration-content #registration-container .info_section {
  background-size: auto 6200px;
  background-position: center top;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
}

#registration-content #registration-container .info_section #dateSection {
  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  width: 76%;
  margin: auto;
  margin-top: 190px;
  border-radius: 15px;
  padding: 25px;
  -webkit-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
          box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
  background: linear-gradient(-45deg, #eeeeee, #f7f7f7 40%, white 60%, white);
}

#registration-content #registration-container .info_section #dateSection #the-calendar {
  width: 45%;
}

#registration-content #registration-container .info_section #dateSection #the-info {
  width: 45%;
}

#registration-content #registration-container .info_section #dateSection #the-info #top {
  padding-bottom: 10px;
  border-bottom: 5px solid #F5AB43;
}

#registration-content #registration-container .info_section #dateSection #the-info #top strong {
  font-size: 30px;
  font-weight: 600;
}

#registration-content #registration-container .info_section #dateSection #the-info #top span {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 22px;
  color: #444444;
  font-weight: bold;
}

#registration-content #registration-container .info_section #dateSection #the-info #middle {
  border-bottom: 5px solid #F5AB43;
  padding-left: 15px;
  padding-right: 15px;
}

#registration-content #registration-container .info_section #dateSection #the-info #middle strong {
  font-weight: 400;
  font-size: 30px;
  font-weight: normal;
}

#registration-content #registration-container .info_section #dateSection #the-info #middle span {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 22px;
  color: #444444;
  font-weight: bold;
}

#registration-content #registration-container .info_section #dateSection #the-info #middle div {
  margin-top: 25px;
  margin-bottom: 25px;
}

#registration-content #registration-container .info_section #dateSection #the-info #middle div:first-of-type {
  margin-top: 45px;
}

#registration-content #registration-container .info_section #dateSection #the-info #middle div:last-of-type {
  margin-bottom: 45px;
}

#registration-content #registration-container .info_section #dateSection #the-info #bottom {
  margin-top: 35px;
}

#registration-content #registration-container .info_section #dateSection #the-info #bottom strong {
  font-size: 30px;
  font-weight: 600;
}

#registration-content #registration-container .info_section #dateSection #the-info #bottom span {
  font-weight: 600;
  font-size: 40px;
  color: #F5AB43;
  font-weight: bold;
}

#registration-content #registration-container .info_section #contract-section {
  margin-top: 550px;
  margin-bottom: 5%;
}

#registration-content #registration-container .info_section #contract-section #pdf-viewer {
  width: 60%;
  height: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
          box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
  margin-bottom: 2vh;
  overflow: scroll;
}

#registration-content #registration-container .info_section #contract-section p {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: none;
  color: #444444;
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
}

#registration-content #registration-container .info_section #contract-section .form-check-label {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: none;
  font-size: 25px;
}

#registration-content #registration-container #form-section {
  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  font-weight: 400;
  border-radius: 15px;
  width: 76%;
  margin: auto;
  margin-top: 190px;
  margin-bottom: 50px;
  padding: 35px;
  -webkit-box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
          box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.32);
  background: linear-gradient(-45deg, #eeeeee, #f7f7f7 40%, white 60%, white);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#registration-content #registration-container #form-section div {
  width: 100%;
}

#registration-content #registration-container #form-section #div_id_name {
  width: 50%;
}

#registration-content #registration-container #form-section #div_id_age {
  width: 20%;
}

#registration-content #registration-container #form-section #div_id_number_of_guests {
  width: 20%;
}

#registration-content #registration-container #form-section #div_id_phone_contact {
  width: 50%;
}

#registration-content #registration-container #form-section #id_phone_contact_0 {
  width: 100%;
}

#registration-content #registration-container #form-section #id_phone_contact_1 {
  margin-top: 10px;
  width: 100%;
}

#registration-content #registration-container #form-section #div_id_email_contact {
  width: 40%;
}

#registration-content #registration-container #form-section #div_id_street_number {
  width: 25%;
}

#registration-content #registration-container #form-section #div_id_route {
  width: 70%;
}

#registration-content #registration-container #form-section #div_id_city {
  width: 40%;
}

#registration-content #registration-container #form-section #div_id_state {
  width: 25%;
}

#registration-content #registration-container #form-section #div_id_zip_code {
  width: 25%;
}

#registration-content #registration-container #form-section #personal-info-div {
  margin-bottom: 5%;
}

#registration-content #registration-container #form-section #contact-info-div {
  margin-bottom: 5%;
}

#registration-content #registration-container #form-section #questions-div {
  margin-top: 5%;
}

#registration-content #registration-container #form-section #submit-id-submit {
  background-color: #00031C;
  color: white;
  border: none;
  margin: auto;
  width: 20%;
  margin-top: 10px;
}

#registration-content #registration-container #form-section #submit-id-submit:hover {
  background-color: #5ECBD8;
}

.registration-nav {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.registration-nav li {
  font-size: 18pt;
  margin-right: 1vw;
}

.registration-nav li .my-nav-link {
  text-decoration: none;
  color: white;
}

.registration-nav li .my-nav-link:hover {
  border-bottom: 3px white solid;
}

.registration-link {
  color: white;
}

#review-form-page-container {
  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#review-form-page-container #review-form-greeting {
  width: 50%;
  margin-left: 5%;
  font-weight: 800;
  font-size: 36px;
}

#review-form-page-container #review-form-page-content {
  width: 50%;
  margin-left: 5%;
  padding: 1%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
}

#review-form-page-container #review-form-page-content #review-form {
  width: 100%;
}

#review-form-page-container #review-form-page-content #review-form #star-section {
  margin-bottom: 25px;
}

#review-form-page-container #review-form-page-content #review-form #star-section #star-section-text {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

#review-form-page-container #review-form-page-content #review-form #submit-id-submit {
  background-color: #00031C;
  border: none;
  width: 30%;
}

#review-form-page-container #review-form-page-content #review-form #submit-id-submit:hover {
  background-color: #5ECBD8;
}

#review-form-page-container #review-form-page-content #review-form #div_id_review_text {
  width: 100%;
}

#review-form-page-container #review-form-page-content #review-form #div_id_review_text label {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
}

#amenities-section {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  padding-top: 4%;
  width: 70%;
  margin: auto;
}

#amenities-section ul {
  padding: 0;
  list-style-type: "› ";
}

#amenities-section ul li {
  font-weight: 400;
  color: #444444;
  font-size: 28px;
  margin-left: 10%;
  padding-bottom: 3%;
}

#amenities-section .left-list {
  margin-right: 5%;
}

#amenities-section .heavy-amenities-title {
  font-weight: 700;
  font-size: 42px;
}

#amenities-section .light-amenities-title {
  font-size: 30px;
  padding-bottom: 5%;
}

#amenities-section #amenities-section-lists {
  border-radius: 15px;
  -webkit-box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(-45deg, #eeeeee, #f7f7f7 40%, white 60%, white);
  padding: 1%;
  margin-top: 25px;
}

#amenities-section #amenities-section-lists #left-section {
  width: 47%;
}

#amenities-section #amenities-section-lists #right-section {
  width: 47%;
}

@media screen and (max-width: 1137px) {
  #review-box-shadow {
    visibility: hidden;
  }
  #review-page {
    background: none;
  }
  #review-page #review-container {
    width: 100%;
  }
}
/*# sourceMappingURL=global.css.map */