body {
  overflow-x: hidden;
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-nav {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.landing-nav li {
  font-size: 18pt;
  margin-left: 66px;
  color: white;
}

.landing-nav li .my-nav-link {
  text-decoration: none;
  color: white;
}

.landing-nav li .reviews-link:hover {
  border-bottom: 3px #F5AB43 solid;
}

.landing-nav li .photos-link:hover {
  border-bottom: 3px #5ECBD8 solid;
}

.landing-nav li .contact-link:hover {
  border-bottom: 3px #00031C solid;
}

.landing-page {
  background: url("/static/assets/LandingPicture.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.landing-page a {
  cursor: pointer;
}

.landing-page label {
  font-size: 18pt;
  margin-left: 30px;
  margin-right: 135px;
  margin-top: 3px;
  color: white;
}

.landing-page .landing-nav {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.landing-page .landing-nav li {
  font-size: 18pt;
  margin-left: 66px;
  color: white;
}

.landing-page .landing-nav li .my-nav-link {
  text-decoration: none;
  color: white;
}

.landing-page .landing-nav li .reviews-link:hover {
  border-bottom: 3px #F5AB43 solid;
}

.landing-page .landing-nav li .photos-link:hover {
  border-bottom: 3px #5ECBD8 solid;
}

.landing-page .landing-nav li .contact-link:hover {
  border-bottom: 3px #00031C solid;
}

.landing-page .book-button {
  background-color: #00031C;
  border-radius: 7px;
  max-height: 28px;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
  position: fixed;
  right: 23px;
  top: 18px;
  z-index: 1;
}

.landing-page .book-button:hover {
  background-color: #48a0aa;
}

.landing-page .landing-title {
  background-image: url("/static/assets/LandingPageLines.svg");
  background-repeat: no-repeat;
  width: 1505px;
  height: 618px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing-page .landing-title .sea-prints-title {
  text-align: center;
  font-family: sirenne-text-mvb, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 180pt;
  color: white;
  border-bottom: 7px white solid;
  padding-bottom: 0px;
  height: 285px;
  margin-bottom: 0px;
}

.landing-page .landing-title .sea-prints-caption {
  font-family: skolar-sans-latin-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.landing-page .landing-title .cape-san-blas-caption {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  color: white;
  font-size: 30px;
  top: 12px;
  left: 15px;
  letter-spacing: 5px;
  line-height: 35px;
}

#review-section {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  background-color: #00031C;
  height: 265px;
}

#review-section .review-content {
  width: 80%;
  margin: auto;
}

#review-section .review-content .review-element {
  width: 25%;
}

#review-section .review-content .review-element .rating-text {
  text-align: center;
  font-size: 20px;
}

#review-section .review-content .review-element .rating-stars {
  border-bottom: 5px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#review-section .review-content .review-element .rating-stars img {
  margin-right: 5px;
}

#review-section .all-reviews-link-div .all-reviews-link {
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

#carousel-title {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
  color: #00031C;
  width: 100%;
  text-align: right;
  padding-right: 1vw;
  padding-top: 4vw;
}

.carousel-inner > .item {
  height: 939px;
}

#steps-from-the-beach {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  width: 75%;
  margin-top: 325px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 5%;
}

#steps-from-the-beach #steps-title {
  font-weight: 700;
  color: #00031C;
  border-bottom: 7px solid #F5AB43;
  width: 100%;
  display: block;
  font-size: 60px;
  text-align: right;
  letter-spacing: 4px;
}

#steps-from-the-beach p {
  font-weight: 500;
  margin-top: 20px;
  text-align: right;
  font-size: 30px;
  width: 90%;
  margin-left: auto;
  color: #444444;
}

#room-for-everyone {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  width: 75%;
  margin-top: 325px;
  margin-bottom: 400px;
  margin-right: auto;
  margin-left: 5%;
}

#room-for-everyone #room-title {
  font-weight: 700;
  color: #00031C;
  border-bottom: 7px solid #5ECBD8;
  width: 100%;
  display: block;
  font-size: 60px;
  text-align: left;
  letter-spacing: 4px;
}

#room-for-everyone p {
  font-weight: 500;
  margin-top: 20px;
  text-align: left;
  font-size: 30px;
  width: 90%;
  margin-right: auto;
  color: #444444;
}

#fully-equipped-kitchen {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  width: 85%;
  margin-top: 550px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 5%;
}

#fully-equipped-kitchen #fully-title {
  font-weight: 700;
  color: #00031C;
  border-bottom: 7px solid #00031C;
  width: 100%;
  display: block;
  font-size: 60px;
  text-align: right;
  letter-spacing: 4px;
}

#fully-equipped-kitchen p {
  font-weight: 500;
  margin-top: 20px;
  text-align: right;
  font-size: 30px;
  width: 90%;
  margin-left: auto;
  color: #444444;
}

#amenities {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  margin-top: 75px;
  margin-top: 177px;
  width: 100%;
}

#amenities #amenities-block {
  margin-left: 0;
  margin-right: auto;
}

#amenities #amenities-list {
  background-color: #00031C;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 5%;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  font-size: 28px;
  margin-left: 0;
  margin-right: 0;
}

#amenities #amenities-list strong {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
}

#amenities #amenities-list ul {
  list-style-type: none;
  padding: 0;
}

#amenities #amenities-list li {
  padding-left: 5px;
  font-weight: 500;
  line-height: 34px;
  font-size: 22px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #00031C;
  margin-top: 177px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  color: #F5AB43;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100px;
  letter-spacing: 5px;
}

footer .footer-content #contact-designers {
  cursor: pointer;
  color: white;
}

footer .footer-content #contact-designers:hover {
  color: #F5AB43;
}

#review-page {
  background-image: url(assets/OceanTopView.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.review-nav {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.review-nav li {
  font-size: 18pt;
  margin-left: 66px;
}

.review-nav li .my-nav-link {
  text-decoration: none;
  color: #00031C;
}

.review-nav li .reviews-link:hover {
  border-bottom: 3px #F5AB43 solid;
}

.review-nav li .photos-link:hover {
  border-bottom: 3px #5ECBD8 solid;
}

.review-nav li .contact-link:hover {
  border-bottom: 3px #00031C solid;
}

.review-nav label {
  font-size: 18pt;
  margin-left: 30px;
  margin-right: 135px;
  margin-top: 3px;
  color: #00031C;
}

.review-nav .book-button {
  background-color: #00031C;
  border-radius: 7px;
  max-height: 28px;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
  top: 2%;
  right: 14%;
  position: fixed;
  z-index: 1;
}

.review-nav .book-button:hover {
  background-color: #48a0aa;
}

.review-container {
  background-color: white;
  width: 75%;
  margin: auto;
  min-height: 100vh;
}

.review-container .review-navigator {
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 33px;
  padding-bottom: 75px;
}

.review-container .review-navigator span {
  margin-left: 25px;
  margin-right: 25px;
}

.review-container .review-navigator a {
  text-decoration: none;
}

.review-container .review {
  padding-bottom: 6%;
}

.review-container .review .review-header {
  width: 637px;
  border-bottom: 5px #F5AB43 solid;
}

.review-container .review .review-header h2 {
  padding-top: 5%;
  text-align: right;
}

.review-container .review h1 {
  color: #00031C;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
}

.review-container .review h2 {
  color: #444444;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

.review-container .review p {
  color: #00031C;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 27px;
  width: 75%;
}
/*# sourceMappingURL=global.css.map */