$site-colors: ("navy": #00031C, "cyan": #5ECBD8, "orange": #F5AB43, "gray": #444444);
$font-weights: ("regular": 400, "medium": 500, "demi": 600, "heavy": 700, "bold": 800, "extra-bold": 900);
html,
body {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#message-box {
    font-family: futura-pt-bold, sans-serif;
    font-style: normal;
    position: absolute;
    z-index: 150;
    top: 6%;
    right: 1%;
    width: 30%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    .message-content {
        margin: 10px;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 16px;
    }
}