<!--
    {% comment %} 
    Put the following script tag into the {% block scripts %} on any page
    that you include this calendar.

    <script src="{% static 'registration/scripts.js' %}"></script>
    {% endcomment %}
 -->
    <div id="calendarContainer">
        <div class="d-flex justify-content-between align-items-center">
            <h3 id="monthAndYear"></h3>
            <div class="arrows">
                <button id="previous" onclick="previous()">&#60;</button>
                <button id="next" onclick="next()">&#62;</button>
            </div>
        </div>
        <table id="calendar" class="table" style="table-layout: fixed;">
            <thead>
            <tr>
                <th scope="col">Su</th>
                <th scope="col">Mo</th>
                <th scope="col">Tu</th>
                <th scope="col">We</th>
                <th scope="col">Th</th>
                <th scope="col">Fr</th>
                <th scope="col">Sa</th>
            </tr>
            </thead>

            <tbody id="calendar-body">
            </tbody>
        </table>

        <br/>

        <form id="jumpForm">
            <label for="month">Jump To: </label>
            <select name="month" id="month" onchange="jump()">
                <option value=0>Jan</option>
                <option value=1>Feb</option>
                <option value=2>Mar</option>
                <option value=3>Apr</option>
                <option value=4>May</option>
                <option value=5>Jun</option>
                <option value=6>Jul</option>
                <option value=7>Aug</option>
                <option value=8>Sep</option>
                <option value=9>Oct</option>
                <option value=10>Nov</option>
                <option value=11>Dec</option>
            </select>

            <select name="year" id="year" onchange="jump()">
                <option value=2020>2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option>
                <option value=2023>2023</option>
                <option value=2024>2024</option>
                <option value=2025>2025</option>
                <option value=2026>2026</option>
                <option value=2027>2027</option>
                <option value=2028>2028</option>
                <option value=2029>2029</option>
                <option value=2030>2030</option>
            </select>
        </form>
    </div>
