{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="registrationContent" class="container m-0 p-0">
    <div class="row">
        <div class="col-md-3 img-column fixed-top" style="padding: 0;">
            <img src="{% static 'assets/LogoSoon.jpg' %}" alt="Logo Image" id="logo-image">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9 content-column offset-md-3 info_section">
            <div id="blur-background" class="d-flex justify-content-between align-items-center"></div>
            <div id="dateSection" class="d-flex justify-content-between align-items-center">
                <div id="the-calendar" class="align-self-start">
                    {% include 'registration/calendar.html' %}
                </div>
                <div id="the-info" class="align-self-start">
                    <div id="top" class="d-flex justify-content-between align-items-end">
                        <strong id="nights-text">Select Dates</strong>
                        <span id="price-per-night">$150/night</span>
                    </div>
                    <div id="middle">
                        <div class="d-flex justify-content-between align-items-center">
                            <strong id="price-text">5 x 150:</strong>
                            <span id="price-total-text">$750.00</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <strong id="cleaning-fee">Cleaning Fee:</strong>
                            <span id="cleaning-total-fee">$72.00</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <strong id="tax">Tax:</strong>
                            <span id="tax-total-fee">12%</span>
                        </div>
                    </div>
                    <div id="bottom">
                        <div class="d-flex justify-content-between align-items-end">
                            <strong id="total" class="align-self-center">Total:</strong>
                            <span id="total-fee">$839.95</span>
                        </div>
                    </div>
                </div>
            </div>
            <p id="dateSectionSubText">
                ** $500 due at time of booking to hold dates **<br>
                Balance due 30 days prior to check in date
            </p>
            <div id="contract-section">
                <h2>This contract includes details concerning payment</h2>
                <iframe id="pdf-viewer" frameborder="0" scrolling="yes" src="https://drive.google.com/file/d/1Zgf-shhZRz_xCA34ORFTz7_b7biMiPcH/preview"></iframe>
                <p>By checking the boxes below, you are legally bound to the contents of the above rules and contract.</p>
                <div class="form-check text-center">
                    <input type="checkbox" class="custom-check" id="rules-checkbox" disabled>
                    <label class="form-check-label" for="rules-checkbox">I agree to the rules</label>
                </div>
                <div class="form-check text-center">
                    <input type="checkbox" class="custom-check" id="contract-checkbox" disabled>
                    <label class="form-check-label" for="contract-checkbox">I agree to the contract</label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'registration/date-info-picker.js' %}"></script>
<script src="{% static 'registration/scripts.js' %}"></script>
<script src="{% static 'registration/contract.js' %}"></script>
{% endblock %}